build
barch
tools/*.ipa
*.mode1v3
*.pbxuser
tools/*.mobileprovision
dSYMArchive
*.DS_Store
*~
Yelp.xcodeproj/project.xcworkspace
Yelp.xcodeproj/xcuserdata
xcuserdata
*.xccheckout
YelpX/YelpX.xcodeproj/project.xcworkspace
YelpX/YelpX.xcodeproj/xcuserdata
*.mode2v3
*.perspectivev3
*.pyc
tools/Enterprise\ dSYMs
tools/AdHoc\ dSYMs
tools/Enterprise_dSYMs
tools/AdHoc_dSYMs
Libraries/doctmp
tmp
Yelp.xcworkspace/xcuserdata
tools/.idea/
.idea/*
*.swp
Pods
YLCollectionUtilsTests/YLCollectionUtilsTests.xcodeproj/project.xcworkspace/
